In [1]:
import pandas as pd

In [6]:
!ls -l ./data/raw_data_ES

total 8216
-rw-r--r--@ 1 ns  staff  276509 29 Aug 14:55 SYSTEM_VERTICAL_LOAD_201301010000-201401010000_ES.xlsx
-rw-r--r--@ 1 ns  staff  273110 29 Aug 14:54 SYSTEM_VERTICAL_LOAD_201401010000-201501010000_ES.xlsx
-rw-r--r--@ 1 ns  staff  180613 29 Aug 14:54 SYSTEM_VERTICAL_LOAD_201501010000-201601010000_ES.xlsx
-rw-r--r--@ 1 ns  staff  473123 18 Aug 20:03 Total Load - Day Ahead _ Actual_2015.csv
-rw-r--r--@ 1 ns  staff  474463 18 Aug 20:03 Total Load - Day Ahead _ Actual_2016.csv
-rw-r--r--@ 1 ns  staff  473173 18 Aug 20:03 Total Load - Day Ahead _ Actual_2017.csv
-rw-r--r--@ 1 ns  staff  473173 18 Aug 20:00 Total Load - Day Ahead _ Actual_2018.csv
-rw-r--r--@ 1 ns  staff  447309 18 Aug 20:00 Total Load - Day Ahead _ Actual_2019.csv
-rw-r--r--  1 ns  staff  946953 20 Aug 19:42 load_forecast_2016_2018.csv

In [3]:
data = pd.read_excel('./data/raw_data_ES/SYSTEM_VERTICAL_LOAD_201501010000-201601010000_ES.xlsx')

In [20]:
data = data.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis=1)

In [26]:
data.columns = ['time', 'day_ahead_load', 'actual_load']

In [36]:
data.dropna(axis=0, how='all')

,time,day_ahead_load,actual_load
0,01.01.2015 00:00 - 01.01.2016 00:00 - CET,NaN,NaN
2,NaN,ES,NaN
3,Time Interval,Day-ahead Vertical Load,Realised Vertical Load
4,NaN,[MW],[MW]
5,00:00 - 01:00,26118,25393
6,01:00 - 02:00,24934,24406
7,02:00 - 03:00,23515,22763
8,03:00 - 04:00,22642,21301
9,04:00 - 05:00,21785,20274
10,05:00 - 06:00,21441,19912
11,06:00 - 07:00,21285,20010
12,07:00 - 08:00,21545,20372
13,08:00 - 09:00,21443,20100
14,09:00 - 10:00,21560,20616
15,10:00 - 11:00,22824,22226
16,11:00 - 12:00,23720,23529
17,12:00 - 13:00,24180,24124
18,13:00 - 14:00,24797,24701
19,14:00 - 15:00,25222,24682
20,15:00 - 16:00,24173,23542
21,16:00 - 17:00,23659,23121
22,17:00 - 18:00,23982,23580
23,18:00 - 19:00,26981,26401
24,19:00 - 20:00,28515,28009
25,20:00 - 21:00,30482,28998
26,21:00 - 22:00,30739,29572
27,22:00 - 23:00,29756,29053
28,23:00 - 00:00,27589,26838
30,02.01.2015,NaN,NaN
32,00:00 - 01:00,23959,24336
...,...,...,...
9798,19:00 - 20:00,NaN,NaN
9799,20:00 - 21:00,NaN,NaN
9800,21:00 - 22:00,NaN,NaN
9801,22:00 - 23:00,NaN,NaN
9802,23:00 - 00:00,NaN,NaN
9804,30.12.2015,NaN,NaN
9806,00:00 - 01:00,NaN,NaN
9807,01:00 - 02:00,NaN,NaN
9808,02:00 - 03:00,NaN,NaN
9809,03:00 - 04:00,NaN,NaN
9810,04:00 - 05:00,NaN,NaN
9811,05:00 - 06:00,NaN,NaN
9812,06:00 - 07:00,NaN,NaN
9813,07:00 - 08:00,NaN,NaN
9814,08:00 - 09:00,NaN,NaN
9815,09:00 - 10:00,NaN,NaN
9816,10:00 - 11:00,NaN,NaN
9817,11:00 - 12:00,NaN,NaN
9818,12:00 - 13:00,NaN,NaN
9819,13:00 - 14:00,NaN,NaN
9820,14:00 - 15:00,NaN,NaN
9821,15:00 - 16:00,NaN,NaN
9822,16:00 - 17:00,NaN,NaN
9823,17:00 - 18:00,NaN,NaN
9824,18:00 - 19:00,NaN,NaN
9825,19:00 - 20:00,NaN,NaN
9826,20:00 - 21:00,NaN,NaN
9827,21:00 - 22:00,NaN,NaN
9828,22:00 - 23:00,NaN,NaN
9829,23:00 - 00:00,NaN,NaN